.sec_cards h4 {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family: var(--great-sand);
}

.sec_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #e8cba7;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--montserrat-sand);
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin: 1rem 0rem;
}

.card h3 {
    text-align: center;
    font-size: 2rem;
}

.card p {
    width: 100%;
    margin-bottom: 1rem;
}

.card b {
    font-weight: 700;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 720px){
   .cont_cards{
    flex-direction: row;
    align-items: stretch;
   }

   .card img{
    height: 20%;
    width: 70%;
   }
}