.sec_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5d1be;
    font-family: var(--montserrat-sand);
}

.sec_cards h4{
    font-weight: bold;
    padding-top: 2rem;
    font-size: 3vw;
    margin-bottom: 1rem;
}

.cont_cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.cont_card {
    width: 33%;
    height: auto;
    padding: 1rem 0 1rem 0;
}

.card {
    margin: auto;
    width: 70%;
    height: 90%;
    background-color: #faeee3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    font-size: 1rem;
}

.card img{
    width:100%;
    align-self: center;
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
}

.card b,h3{
    font-weight: bold;
}

.card p,b{
    margin-bottom: 1rem;
}