footer{
    padding: 1rem;
    background-color: rgb(181, 100, 57);
    font-family: var(--montserrat-sand);
    text-align: center;
}

footer p{
    font-size: .9rem;
}

.emoji{
    margin-top: 1rem;
}

.credits{
    margin-bottom: 2rem;
}