:root {
    --josefin-sand: "Josefin Sans", sans-serif;
    --montserrat-sand: "Montserrat", sans-serif;
    --great-sand: "Great Vibes", cursive;
    --pinyon-sand: "Pinyon Script", cursive;
}

main {
    background-color: #000000;
}

.button {
    color: black;
    text-decoration: none;
    margin: 20px;
    padding: 15px;
    background-color:  #d0a848;
    border-radius: 5px;
    border: 2px solid black;
}

.botton:active {
    animation-delay: 1000ms;
    background-color: #1c1cff;
}