.itinerario{
    text-align: center;
    background-color: #b9a280;
    padding-bottom: 1rem;
}

.itinerario h3{
    font-size: 2rem;
    font-family: var(--montserrat-sand);
    padding-top: 1rem; 
    padding-bottom: 1rem;   
}

.itinerario img{
    width: 80%;
}

@media only screen and (min-width: 720px){
    .itinerario img{
        width: 30%;
    }
}