.message{
    background-color: #e5d1be;
    text-align: center;
    box-sizing: border-box;
}

.message_paragraph{
    font-size: 2vw;
    padding-bottom:1rem ;
    font-family: var(--montserrat-sand);
}

.message h3{
    font-size: 6vw;
    padding-top: 1rem;
    font-family: var(--pinyon-sand);
}