.message {
    background-color: #EAD8C0;
}

.message_paragraph {
    font-family: var(--montserrat-sand);
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
}

.message h3 {
    font-family: var(--great-sand);
    font-size: 3rem;
}

#mes_by_one {
    background-image: url("../img/mensaje1.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: end;
}

#mes_by_one .message_paragraph {
    width: 100%;
    padding: auto;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 2);
}

@media only screen and (min-width: 720px) {
    .message h3 {
        font-size: 4rem;
    }

    .message_paragraph {
        font-size: 2rem;
    }

    #mes_by_one {
        height: 500px;
    }
}