.message{
    background-color: #EAD8C0 ;
}

.message_paragraph{
    font-family: var(--pinyon-sand);
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

.message h3{
    font-family: var(--great-sand);
    font-size: 1.7rem;
}

#mes_by_one{
    background-image: url(/img/demo2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#mes_by_one .message_paragraph{
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 0px 2px #000000;
}