#cont_img {
    height: 100vh;
    background-image: url(/img/pareja.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#cont_img h2 {
    padding-top: 2rem;
    font-size: 9vw;
    color: #fff;
    text-shadow: 1px 0px 2px #000000;
}