#presentacion{
   background-color: #ffd9ab;
   height: 100vh;
}

.cont_img{
    background-image: url("/img/pareja.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}