#cont_img {
    height: 100vh;
    background-image: url("../img/presentation2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-shadow: 0px 0px 4px #ffd500;
}

#cont_img p{
    margin: 1rem 0;
    font-size: 1.5rem;
}

#cont_img h2 {
    font-size: 4rem;
    font-family: var(--great-sand);
}


@media only screen and (min-width: 720px) {
    #cont_img{
        height: 800px;
    }
    
    #cont_img h2{
        font-size: 4rem;
        padding-top: 1rem;
    }
  }